<a href="https://colab.research.google.com/github/mehmetaliisik/Python-Notes/blob/main/phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Summer Camp

There is no need to specify the type of variable

In [ ]:
string= "Mehmet Ali"

In [ ]:
string[6]

' '

In [ ]:
string[0:6:1]
#first:last(not include the last one):hops count

'Mehmet'

In [ ]:
string[::-1]
#if you wanna reverse the string

'ilA temheM'

In [ ]:
#for calculating length of the string
len(string)

10

In [ ]:
a="Mehmet "
b="Ali"
c=a+b
print(c)

Mehmet Ali

In [ ]:
print(a*3)

Mehmet Mehmet Mehmet

* For changing variable type;
* to float float(variable),
* to integer int(variable),
* to string str(variable).

In [ ]:
var= 66584
x=str(var)
x
bool(x)

True

In [ ]:
a="3.14"
b=float(a)
b

3.14

In [ ]:
print(35,45,78,98)

35 45 78 98

# sep character

In [ ]:
print(35,45,78,98,sep='/')

35/45/78/98

In [ ]:
print(35,45,78,98,sep='\n')
#use sep for putting character between variables

35
45
78
98

In [ ]:
print(*"MEHMET")

M E H M E T

* "*" before string useful to seperate the string with a space

In [ ]:
print(*"TBMM",sep=".")

T.B.M.M

# Formating (phyformat)

In [ ]:
a=45
b=15
print("{} + {} = {}".format(a,b,a+b))

45 + 15 = 60

In [ ]:
a=45
b=15
print("{1} + {0} = {2}".format(a,b,a+b))

15 + 45 = 60

In [ ]:
a=3.1654
b=5.4848
print("{:.2f} + {:.2f} = {:.2f}".format(a,b,a+b))

3.17 + 5.48 = 8.65

# List data type

* This data type seems like array in C but has some differences

In [ ]:
my_list=["mehmet", 54, 34.45]
print(my_list)

['mehmet', 54, 34.45]

In [ ]:
print(my_list[2])

34.45

* first:last(not include the last one):hops count rule working as well as strings

In [ ]:
my_list[::-1]

[34.45, 54, 'mehmet']

In [ ]:
list1=[1,2,3]
list2=[4,5,6]
list3= list1 + list2
list3

[1, 2, 3, 4, 5, 6]

In [ ]:
list1 *3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
list1[0]=-1
list1

[-1, 2, 3]

In [ ]:
list1[:2]=[1,-2]
list1

[1, -2, 3]

*  METHODS
* list.append(element) = add the value to last of the list
* list.pop(element) = taking out the element which writed in the list
* list.sort() = sort the list if wanna reverse list list.sort(reverse=True)

In [ ]:
list1=[5,6,54,4,1]
list1.append(0)
list1

[5, 6, 54, 4, 1, 0]

In [ ]:
list1.pop(1)
list1

[5, 54, 4, 1, 0]

In [ ]:
list1.sort(reverse = True)
list1

[54, 5, 4, 1, 0]

# Tuple data type

* Tuples cant change its syntax is tuple = (variables)

In [ ]:
my_tuple = (1,5,2,5,1,4,6,8,5)

In [ ]:
my_tuple.count(5)
#using for how many times element used in tuple

3

In [ ]:
my_tuple.index(4)
#using for what is the index of element

5

# Dict data typye

In [ ]:
my_dict = {"one": 1, "two":2, "three": 3}
my_dict

{'one': 1, 'two': 2, 'three': 3}

In [ ]:
my_dict["one"]

1

In [ ]:
my_dict["four"] = 4
#if wanna add variables
my_dict

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [ ]:
my_dict.keys()
my_dict.values()
my_dict.items()
#for walking throught dictionary

dict_items([('one', 1), ('two', 2), ('three', 3), ('four', 4)])

# Input syntax

In [ ]:
input("Enter a number ")

Enter a number 13

'13'

In [ ]:
a = input("Enter a number: ")
print(a*5)

Enter a number: 45
4545454545

* input func receive string data type for using other types must write the type before input

In [ ]:
a = int(input("Enter a number: "))
b = int(input("Enter an another number: "))
print("Sum of them is ", a+b)

Enter a number: 5
Enter an another number: 10
Sum of them is  15

# or, and, not

* or == ||, and == && according to C language
* not is chanching the resut. If result is true, it will be false with using not

# If, elif, else

In [ ]:
num = int(input("Enter a number: "))
if num<0:
    print("It is a negative number.")
elif num==0:
    print("It is a null character.")
else:
    print("It is a positive number.")

Enter a number: 5
It is a positive number.

* elif == else if, in C other ones are same

# List Comprehension

In [ ]:
my_list=[1,2,4,7,9]
my_list1=[i for i in my_list]
my_list1

[1, 2, 4, 7, 9]

* You dont have to write large codes

In [ ]:
list1 = [[1,2,3],[4,5],[6,7,8,9]]
for i in list1:
    print(i)

[1, 2, 3]
[4, 5]
[6, 7, 8, 9]

In [ ]:
for i in list1:
    for x in i:
        print(x)

1
2
3
4
5
6
7
8
9

In [ ]:
list1 = [[1,2,3],[4,5],[6,7,8,9]]
list2 = []

In [ ]:
list2 = [x for i in list1 for x in i]
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

* If wanna put together all elements

# round(x,2) type

* if wanna round a float round(variable,number of digit)

# Methods

In [ ]:
a=[1,2,3,4]
a.insert(3,45)
a

[1, 2, 3, 45, 4]

In [ ]:
a=[12,45,48,54]
a.insert(3,45)

In [ ]:
a

[12, 45, 48, 45, 54]

# help()

* if you forget how to use the method you can use this func

In [ ]:
help(a.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

# Functions

In [ ]:
def name(name):
    print("Your name is", name)

In [ ]:
name("Mehmet")

Your name is Mehmet

* This type is void type it returns nothing

In [ ]:
def factorial(num):
    fak=1
    if(num==0 or num==1):
        fak=1
    else:
        while(num>=1):
            fak*=num
            num-=1
    return fak

In [ ]:
factorial(5)

120

* if wanna make mathematical operations u have to use return

In [ ]:
def sum(*a):
    sum=0
    for i in a:
        sum+=i
    return sum

In [ ]:
sum(4,5,6)

15

* *a if dont know how many variable we will calculate

# Lambda

* If use small function and wanna write the function basicaly

In [ ]:
def multitwo(i):
    return i*2;

In [ ]:
print(multitwo(5))

10

* or

In [ ]:
multiTwo = lambda i: i*2

In [ ]:
print(multiTwo(6))

12

In [ ]:
def evenOdd(i):
    return i%2==0

* if operation in return true it will return true and false in otherwise

In [ ]:
evenOdd(15)

False

In [ ]:
ovenODD = lambda i: i%2==0

In [ ]:
print(ovenODD(14))

True

# MODULES

* Modules are saved functions as library in C

* import math --> #include <math.h>

* You can change name of module like --> import math as matematik

In [ ]:
import math

* These are the functions in math

In [ ]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

* To see what functions math module has

In [ ]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [ ]:
math.factorial(5)

120

In [ ]:
import math as matematik

In [ ]:
print(matematik.factorial(7))

5040

In [ ]:
print(math.log10(10))

1.0

# from module import *

In [ ]:
from math import *

* difference between import module is dont have to write module again

In [ ]:
factorial(5)

120

In [ ]:
floor(5.6)

5

# Create own module

* first files of module and writing part have to be in same folder to create own module

# Classes

* They seems like struct in C

In [ ]:
class Student():
    name = "Mehmet"
    surname = "IŞIK"
    nu = 19067607

In [ ]:
s1 = Student

In [ ]:
s1

__main__.Student

In [ ]:
s1.name

'Mehmet'

* If wanna change variablles:

* use __init__(): func.
* firstly you have to write self inside init then define variable by using self

In [ ]:
class Student():
    def __init__(self,name = "No info",surname = "No info",nu = 3235):
        self.name = name
        self.surname = surname
        self.nu = nu

In [ ]:
s1 = Student("Mehmet","Işık",19067607)
print(s1.surname)

Işık

In [ ]:
class Book():
    def __init__(self,name,author,page,types):
        print("Init started.")
        self.name=name
        self.author=author
        self.page=page
        self.types=types
    def __str__(self):
        return "Book: {}\nAuthor: {}\nPage: {}\nType: {}".format(self.name,self.author,self.page,self.types)
    def __len__(self):
        return self.page
    def __del__(self):
        print("Book deleted.")

In [ ]:
book=Book("Jane EYRE","Charlotte BRONTE",400,"Drama")

Init started.

In [ ]:
print(book)

Book: Jane EYRE
Author: Charlotte BRONTE
Page: 400
Type: Drama

In [ ]:
print(len(book))

400

In [ ]:
del(book)

Book deleted.

In [ ]:
print(book)

NameError: name 'book' is not defined

# Errors

When code has errors you can use try and except modules to organize the code

In [ ]:
print(int("asdas54"))

ValueError: invalid literal for int() with base 10: 'asdas54'

In [ ]:
try:
    print(int("sdfd455"))
except:
    print("There is an error!")

There is an error!

In [ ]:
try:
    print(int("dfdd565"))
except ValueError:
    print("There is a value error!")

There is a value error!

In [ ]:
try:
    print(int("fdg565"))
    print(book)
except (ValueError, NameError):
    print("There are problems!")

There are problems!

In [ ]:
myList = ["345","sadas","324a","14","kemal"]
for i in range(len(myList)):
    try:
        print(int(myList[i]))
    except:
        continue

345
14

In [ ]:
def reVerse(s):
    if(type(s)!=str):
        raise ValueError("Please enter a valid input.")
    else:
        return s[::-1]

In [ ]:
print(reVerse(55))

ValueError: Please enter a valid input.

In [ ]:
def isEven(n):
    if(n%2!=0):
        raise ValueError("Please enter a even number.")
    else:
        return n

In [ ]:
myList=[54,84,212,57,1,6]
try:
    for i in myList:
        print(isEven(i))
except ValueError:
    pass

54
84
212

# Dosya Okuma ve Yazma

In [ ]:
file=open("knowledges","w")

* with "w" if there is a document with same name it deletes the doc end rebuilt the document

* if wanna do not rebuilt use "a" came from "append"

* if wanna use turkish letters add encoding="utf-8" at the end of open method

In [ ]:
file=open("knowledges.txt","w",encoding="utf-8")

In [ ]:
file.write("Mehmet Ali IŞIK\n")

16

In [ ]:
file.close()

In [ ]:
file=open("knowledges.txt","a",encoding="utf-8")

In [ ]:
file.write("Bugün maç var.\n")

15

In [ ]:
file.close()

In [ ]:
file=open("knowledges.txt","a",encoding="utf-8")

In [ ]:
file.write("Bugün günlerden Galatasaray!\n")

29

In [ ]:
file.close()

In [ ]:
file=open("knowledges.txt","r",encoding="utf-8")

In [ ]:
for i in file:
    print(i,end="")

In [ ]:
file.close()

In [ ]:
file=open("knowledges.txt","r",encoding="utf-8")

In [ ]:
for i in file:
    print(i,end="")
file.close()

Mehmet Ali IŞIK
Bugün maç var.
Bugün günlerden Galatasaray!

In [ ]:
file=open("knowledges.txt","r",encoding="utf-8")

In [ ]:
content=file.read()

In [ ]:
print(content)
file.close()

Mehmet Ali IŞIK
Bugün maç var.
Bugün günlerden Galatasaray!

In [ ]:
file=open("knowledges.txt","r",encoding="utf-8")

In [ ]:
print(file.readline(),end="")
print(file.readline(),end="")
print(file.readline(),end="")
print(file.readline(),end="")

Mehmet Ali IŞIK
Bugün maç var.
Bugün günlerden Galatasaray!

* we write 4 readline but output was 3 because of there are 3 line in txt file

In [ ]:
file.close()

In [ ]:
file=open("knowledges.txt","r",encoding="utf-8")
myList=file.readlines()
print(myList)

['Mehmet Ali IŞIK\n', 'Bugün maç var.\n', 'Bugün günlerden Galatasaray!\n']

* Fonksiyonlar

* seek()
tell()
read()

In [ ]:
with open("knowledges.txt","r",encoding="utf-8") as file:
    print(file.tell())
    file.seek(15)
    print(file.tell())

0
15

In [ ]:
with open("knowledges.txt","r",encoding="utf-8") as file:
    print(file.tell())
    file.seek(15)
    print(file.tell())
    print(file.read(25))

0
15
K
Bugün maç var.
Bugün gü

* Seek() seeks the document

* Tell() tell where position of document

In [ ]:
with open("players.txt","w",encoding="utf-8") as file:
    file.close()

# Buried Functions

**map func**

map(func,list or tuple)

In [ ]:
def double(x):
    return x*2

In [ ]:
map(double, [1,2,3,4,5,6])

It walks in the list term by term and uses double func.

In [ ]:
list(map(double, [1,2,3,4,5,6]))

[2, 4, 6, 8, 10, 12]

In [ ]:
list(map(lambda x : x * 2, [1,2,3,4,5,6]))

[2, 4, 6, 8, 10, 12]

**reduce func**

reduce(func,list or tuple)

In [ ]:
def maximum(x,y):
    if(x>y):
        return x
    else:
        return y

In [ ]:
from functools import reduce

In [ ]:
reduce(maximum,[5,9,1,78,6,-4,15])

78

It first compare first two elements of the list then goes one by one

**filter func**

filter(func, list or tuple) --> func has to be boolean func and filter func output is just true ones

In [ ]:
list(filter(lambda x: x%2==0, [1,2,3,4,5,6,7,]))

[2, 4, 6]

as we see it just returned even numbers

In [ ]:
def prime(x):
    i=2
    count=0
    if(x==1):
        return False
    elif(x==2):
        return True
    else:
        while(x>i):
            if(x%i==0):
                return False
            i+=1
        return True

In [ ]:
list(filter(prime, [1,2,3,4,5,6,7,]))

[2, 3, 5, 7]

**zip func**

if u wanna connect to list's items in a tuple

zip(list1,list2)

In [ ]:
list1=[1,2,3,4]
list2=["one","two","three","four"]
zip(list1,list2)

In [ ]:
list(zip(list1,list2))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [ ]:
for i,j in zip(list1,list2):
    print(i,j)

1 one
2 two
3 three
4 four

**enumerate func**

In [ ]:
liste=["Appel","Orange","Cherry","Pear"]

In [ ]:
res=list()
i=0
while(i<len(liste)):
    res.append((i,liste[i]))
    i+=1
print(res)

[(0, 'Appel'), (1, 'Orange'), (2, 'Cherry'), (3, 'Pear')]

In [ ]:
list(enumerate(liste))

[(0, 'Appel'), (1, 'Orange'), (2, 'Cherry'), (3, 'Pear')]

**all and any func**

if all terms are true then all func returns True else it returns false

any func is opposite of all func if all terms are false it returns False else it returns True

In [ ]:
all([1,0,1,1,0])

False

In [ ]:
all([1,1,1,1,1])

True

In [ ]:
any([1,0,1,1,0])

True

In [ ]:
any([0,0,0,0,0])

False

# Advanced Numbers

**hex() and bin()** func use for hexadecimal and binary forms

In [ ]:
hex(45)

'0x2d'

In [ ]:
bin(15)

'0b1111'

* 0b is mark of binary num and 0x is also for hexadecimal

# Functions

* abs() is for absolute value

In [ ]:
abs(-25)

25

* round is for round the number to closest number

In [ ]:
round(3.8)

4

In [ ]:
round(5.546845486486,3)

5.547

* max() and min() func use for finding maximum and minimum number

In [ ]:
max(2,5,7,6,4,1)

7

In [ ]:
min(2,5,7,6,4,1)

1

* sum() func sums the numbers in a list or tuple

In [ ]:
sum(3,5)

TypeError: 'int' object is not iterable

In [ ]:
sum([3,5])

8

* pow(x,y) func is same as x**y

In [ ]:
pow(4,5)

1024

In [ ]:
4**5

1024

## Advanced Character Series for Strings

https://www.tutorialspoint.com/python3/python_strings.htm

* upper and lower func use for upper and lower case for all letters in a word or a sentence

**replace(x,y)** change all letter x to letter y

In [ ]:
stri="Ali ata bak"
print(stri.replace("a","o"))

Ali oto bok

* bc of A is upper case it didnt change it to letter o

**startswith(x)** if word starts with  x  it returns True , false o.w

**endswith(x)** if word ends with  x  it returns True , false o.w

**split()** it aparts sentence to a list about what is inside the split func

In [ ]:
"Ali ata bak".split(" ")

['Ali', 'ata', 'bak']

## strip(), lstrip(), rstrip()

**strip(x)**: It deletes all x in the end and at the begining

**lstrip(x)**: It deletes all x  at the begining

**rstrip(x)**: It deletes all x  at the end

In [ ]:
"<<<<<<<<<<<<<<<<<ali<<<<<".strip("<")

'ali'

In [ ]:
"<<<<<<<<<<<<<<<<<ali<<<<<".lstrip("<")

'ali<<<<<'

In [ ]:
"<<<<<<<<<<<<<<<<<ali<<<<<".rstrip("<")

'<<<<<<<<<<<<<<<<<ali'

#### join()

In [ ]:
liste=["13","13","2013"]
".".join(liste)

'13.13.2013'

it connects list terms with whatever you want

### find() and rfind()

**find(x)** if find any x from begining it returns first one's place else it returns -1

**rfind(x)** if find any x from the end it returns first one's place else it returns -1

In [ ]:
"caramel".find("a")

1

In [ ]:
"caramel".rfind("a")

3

In [ ]:
"caramel".find("t")

-1

# Sets

In [ ]:
set1={1,2,3,4,5,6,7} ##it's syntax

In [ ]:
list1=[12,1,2,4,1,2,3,4,5,7]
set1=set(list1)
print(set1)

{1, 2, 3, 4, 5, 7, 12}

it add all terms just one time and it sorts terms

In [ ]:
for i in set1:
    print(i)

1
2
3
4
5
7
12

In [ ]:
set1[1]

TypeError: 'set' object is not subscriptable

* as wee see in the 14 and 15 cells we can print terms with for but we cannot call each cells seperately

* but if we want we can change the type of set to the list the we can use that way

**add func**

In [ ]:
set1.add(8)
set1

{1, 2, 3, 4, 5, 7, 8, 12}

**difference func**

In [ ]:
set1={1, 2, 3, 4, 5, 7, 8, 12}
set2={5,6,7,1,2,3}
print(set2)

{1, 2, 3, 5, 6, 7}

In [ ]:
set1.difference(set2)

{4, 8, 12}

**difference_update()**

In [ ]:
set1.difference_update(set2)

In [ ]:
set1

{4, 8, 12}

* it changed the set 2 to difference of set2

**discard()**

In [ ]:
set1.discard(8)
set1

{4, 12}

In [ ]:
set1.discard(100)
set1

{4, 12}

* it removes terms from the set

**intersection()**

In [ ]:
set1={1, 2, 3, 4, 5, 7, 8, 12}
set1.intersection(set2)

{1, 2, 3, 5, 7}

**intersection_update()** same as difference update but in intersection way

**isdisjoint()**

* if intersection set of two set is empty it returns True, False ow

**issubset()**

* if one set includes all variables of second set second set will be subset of first set so it will return True

**union()**

* it connects two sets in a set

**update()**

* it takes all variables of set2 to the set1

## Advanced Lists

**extend()**

In [ ]:
list1=[1,2,3]
list2=[4,5,6,7]
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6, 7]

**insert**

In [ ]:
list1.insert(3,"Var") #u can add a variable wherever u want
list1

[1, 2, 3, 'Var', 'Var', 4, 5, 6, 7]

**pop()**

In [ ]:
list1.pop(3)

'Var'

In [ ]:
list1

[1, 2, 3, 'Var', 4, 5, 6, 7]

* if u put nothing in pop it will remove the last variable of list

**remove()**

* it is like pop but yhere is a difference that u should write the variable's name not it's place

In [ ]:
list1.remove("Var")

In [ ]:
list1

[1, 2, 3, 4, 5, 6, 7]

**index()**

* it helps to find the variable's place in the list

In [ ]:
list1.index(5)

4

* index(x,y) start to seek from x to find y in the list

**count()**

In [ ]:
list2=[1,2,4,5,7,9,7,5,7]
list2.count(5)

2

**sort()**

In [ ]:
list2.sort()
list2

[1, 2, 4, 5, 5, 7, 7, 7, 9]

In [ ]:
list3=["Book","Vegetable","Coffee","Avocado"]
list3.sort()
list3

['Avocado', 'Book', 'Coffee', 'Vegetable']

In [ ]:
list3.sort(reverse=True) # sorts from bigger to smaller

In [ ]:
list3

['Vegetable', 'Coffee', 'Book', 'Avocado']

# SQL Database

**Select * From kitaplık** - Tablodaki tüm bilgileri almamızı sağlar.

**Select İsim,Yazar From kitaplık** Tablodaki tüm bilgileri sadece İsim ve Yazar özelliklerini almamızı sağlar.

**Select * From kitaplık where Yayınevi = 'Everest'** Sadece Yayınevi özelliği Everest olanları alır.

In [ ]:
int(3.8)

3

In [ ]:
(3.8*100)%100

80.0

# Nested Functions and Function Parameters

***args:** U can put variable as much as u want

In [ ]:
def func(*args):
    for i in args:
        print(i)

In [ ]:
func(1,2,3,4,5,6)

1
2
3
4
5
6

****kwargs:** U can give variables values in a dictionary

In [ ]:
def func(**kwargs):
    print(kwargs)

In [ ]:
func(name = "Mehmet", surname = "ISIK", number = 19067607)

{'name': 'Mehmet', 'surname': 'ISIK', 'number': 19067607}

In [ ]:
def func(*args, **kwargs):
    for i in args:
        print(i)
    print("----------------")
    for i,j in kwargs.items():
        print(i,j)

In [ ]:
func(1,2,3,4,5,name = "Mehmet", surname = "ISIK", number = 19067607)

1
2
3
4
5
----------------
name Mehmet
surname ISIK
number 19067607

## Decorators

* it useful for not writing a code combination again

In [ ]:
import time

def pow2(numbers):
    res = list()
    start = time.time()
    for i in numbers:
        res.append(i**2)
    finish = time.time()
    print("This func worked in " + str(finish-start) + " sec.")
    return res
def pow3(numbers):
    res = list()
    start = time.time()
    for i in numbers:
        res.append(i**3)
    finish = time.time()
    print("This func worked in " + str(finish-start) + " sec.")
    return res
pow2(range(100000))
pow3(range(100000))

This func worked in 0.043297529220581055 sec.
This func worked in 0.0608372688293457 sec.

[0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000,
 1030301,
 1061208,
 1092727,
 1124864,
 1157625,
 1191016,
 1225043,
 1259712,
 1295029,
 1331000,
 1367631,
 1404928,
 1442897,
 1481544,
 1520875,
 1560896,
 1601613,
 1643032,
 1685159,
 1728000,
 1771561,
 1815848,
 1860867,
 1906624,
 1953125,
 2000376,
 2048383,
 2097152,
 2146689,
 2197000,
 2248091,
 2299968,
 2352637,
 2406104,
 2460375,
 2515456,
 2571353,
 2628072,
 2685619,
 2744000,
 2803221,
 2863288,
 2924207,
 2985984,
 3048625,
 3112136,
 3176523,
 3241792,
 3307949,
 3375000,
 3442951,
 3511808,
 3581577,
 3652264,
 3723875,
 3796416,
 3869893,
 3944312,
 4019679,
 4096000,
 4173281,
 4251528,
 4330747,
 4410944,
 4492125,
 4574296,
 4657463,
 4741632,
 4826809,
 4913000,
 5000211,
 5088448,
 5177717,
 5268024,
 5359375,
 5451776,
 5545233,
 5639752,
 5735339,
 5832000,
 5929741,
 6028568,
 6128487,
 6229504,
 6331625,
 6434856,
 6539203,
 6644672,
 6751269,
 6859000,
 6967871,
 7077888,
 7189057,
 7301384,
 7414875,
 7529536,
 7645373,
 7762392,
 7880599,
 8000000,
 8120601,
 8242408,
 8365427,
 8489664,
 8615125,
 8741816,
 8869743,
 8998912,
 9129329,
 9261000,
 9393931,
 9528128,
 9663597,
 9800344,
 9938375,
 10077696,
 10218313,
 10360232,
 10503459,
 10648000,
 10793861,
 10941048,
 11089567,
 11239424,
 11390625,
 11543176,
 11697083,
 11852352,
 12008989,
 12167000,
 12326391,
 12487168,
 12649337,
 12812904,
 12977875,
 13144256,
 13312053,
 13481272,
 13651919,
 13824000,
 13997521,
 14172488,
 14348907,
 14526784,
 14706125,
 14886936,
 15069223,
 15252992,
 15438249,
 15625000,
 15813251,
 16003008,
 16194277,
 16387064,
 16581375,
 16777216,
 16974593,
 17173512,
 17373979,
 17576000,
 17779581,
 17984728,
 18191447,
 18399744,
 18609625,
 18821096,
 19034163,
 19248832,
 19465109,
 19683000,
 19902511,
 20123648,
 20346417,
 20570824,
 20796875,
 21024576,
 21253933,
 21484952,
 21717639,
 21952000,
 22188041,
 22425768,
 22665187,
 22906304,
 23149125,
 23393656,
 23639903,
 23887872,
 24137569,
 24389000,
 24642171,
 24897088,
 25153757,
 25412184,
 25672375,
 25934336,
 26198073,
 26463592,
 26730899,
 27000000,
 27270901,
 27543608,
 27818127,
 28094464,
 28372625,
 28652616,
 28934443,
 29218112,
 29503629,
 29791000,
 30080231,
 30371328,
 30664297,
 30959144,
 31255875,
 31554496,
 31855013,
 32157432,
 32461759,
 32768000,
 33076161,
 33386248,
 33698267,
 34012224,
 34328125,
 34645976,
 34965783,
 35287552,
 35611289,
 35937000,
 36264691,
 36594368,
 36926037,
 37259704,
 37595375,
 37933056,
 38272753,
 38614472,
 38958219,
 39304000,
 39651821,
 40001688,
 40353607,
 40707584,
 41063625,
 41421736,
 41781923,
 42144192,
 42508549,
 42875000,
 43243551,
 43614208,
 43986977,
 44361864,
 44738875,
 45118016,
 45499293,
 45882712,
 46268279,
 46656000,
 47045881,
 47437928,
 47832147,
 48228544,
 48627125,
 49027896,
 49430863,
 49836032,
 50243409,
 50653000,
 51064811,
 51478848,
 51895117,
 52313624,
 52734375,
 53157376,
 53582633,
 54010152,
 54439939,
 54872000,
 55306341,
 55742968,
 56181887,
 56623104,
 57066625,
 57512456,
 57960603,
 58411072,
 58863869,
 59319000,
 59776471,
 60236288,
 60698457,
 61162984,
 61629875,
 62099136,
 62570773,
 63044792,
 63521199,
 64000000,
 64481201,
 64964808,
 65450827,
 65939264,
 66430125,
 66923416,
 67419143,
 67917312,
 68417929,
 68921000,
 69426531,
 69934528,
 70444997,
 70957944,
 71473375,
 71991296,
 72511713,
 73034632,
 73560059,
 74088000,
 74618461,
 75151448,
 75686967,
 76225024,
 76765625,
 77308776,
 77854483,
 78402752,
 78953589,
 79507000,
 80062991,
 80621568,
 81182737,
 81746504,
 82312875,
 82881856,
 83453453,
 84027672,
 84604519,
 85184000,
 85766121,
 86350888,
 86938307,
 87528384,
 88121125,
 88716536,
 89314623,
 89915392,
 90518849,
 91125000,
 91733851,
 92345408,
 92959677,
 93576664,
 94196375,
 94818816,
 95443993,
 96071912,
 96702579,
 97336000,
 97972181,
 98611128,
 99252847,
 99897344,
 100544625,
 101194696,
 101847563,
 102503232,
 103161709,
 103823000,
 104487111,
 105154048,
 105823817,
 106496424,
 107171875,
 107850176,
 108531333,
 109215352,
 109902239,
 110592000,
 111284641,
 111980168,
 112678587,
 113379904,
 114084125,
 114791256,
 115501303,
 116214272,
 116930169,
 117649000,
 118370771,
 119095488,
 119823157,
 120553784,
 121287375,
 122023936,
 122763473,
 123505992,
 124251499,
 125000000,
 125751501,
 126506008,
 127263527,
 128024064,
 128787625,
 129554216,
 130323843,
 131096512,
 131872229,
 132651000,
 133432831,
 134217728,
 135005697,
 135796744,
 136590875,
 137388096,
 138188413,
 138991832,
 139798359,
 140608000,
 141420761,
 142236648,
 143055667,
 143877824,
 144703125,
 145531576,
 146363183,
 147197952,
 148035889,
 148877000,
 149721291,
 150568768,
 151419437,
 152273304,
 153130375,
 153990656,
 154854153,
 155720872,
 156590819,
 157464000,
 158340421,
 159220088,
 160103007,
 160989184,
 161878625,
 162771336,
 163667323,
 164566592,
 165469149,
 166375000,
 167284151,
 168196608,
 169112377,
 170031464,
 170953875,
 171879616,
 172808693,
 173741112,
 174676879,
 175616000,
 176558481,
 177504328,
 178453547,
 179406144,
 180362125,
 181321496,
 182284263,
 183250432,
 184220009,
 185193000,
 186169411,
 187149248,
 188132517,
 189119224,
 190109375,
 191102976,
 192100033,
 193100552,
 194104539,
 195112000,
 196122941,
 197137368,
 198155287,
 199176704,
 200201625,
 201230056,
 202262003,
 203297472,
 204336469,
 205379000,
 206425071,
 207474688,
 208527857,
 209584584,
 210644875,
 211708736,
 212776173,
 213847192,
 214921799,
 216000000,
 217081801,
 218167208,
 219256227,
 220348864,
 221445125,
 222545016,
 223648543,
 224755712,
 225866529,
 226981000,
 228099131,
 229220928,
 230346397,
 231475544,
 232608375,
 233744896,
 234885113,
 236029032,
 237176659,
 238328000,
 239483061,
 240641848,
 241804367,
 242970624,
 244140625,
 245314376,
 246491883,
 247673152,
 248858189,
 250047000,
 251239591,
 252435968,
 253636137,
 254840104,
 256047875,
 257259456,
 258474853,
 259694072,
 260917119,
 262144000,
 263374721,
 264609288,
 265847707,
 267089984,
 268336125,
 269586136,
 270840023,
 272097792,
 273359449,
 274625000,
 275894451,
 277167808,
 278445077,
 279726264,
 281011375,
 282300416,
 283593393,
 284890312,
 286191179,
 287496000,
 288804781,
 290117528,
 291434247,
 292754944,
 294079625,
 295408296,
 296740963,
 298077632,
 299418309,
 300763000,
 302111711,
 303464448,
 304821217,
 306182024,
 307546875,
 308915776,
 310288733,
 311665752,
 313046839,
 314432000,
 315821241,
 317214568,
 318611987,
 320013504,
 321419125,
 322828856,
 324242703,
 325660672,
 327082769,
 328509000,
 329939371,
 331373888,
 332812557,
 334255384,
 335702375,
 337153536,
 338608873,
 340068392,
 341532099,
 343000000,
 344472101,
 345948408,
 347428927,
 348913664,
 350402625,
 351895816,
 353393243,
 354894912,
 356400829,
 357911000,
 359425431,
 360944128,
 362467097,
 363994344,
 365525875,
 367061696,
 368601813,
 370146232,
 371694959,
 373248000,
 374805361,
 376367048,
 377933067,
 379503424,
 381078125,
 382657176,
 384240583,
 385828352,
 387420489,
 389017000,
 390617891,
 392223168,
 393832837,
 395446904,
 397065375,
 398688256,
 400315553,
 401947272,
 403583419,
 405224000,
 406869021,
 408518488,
 410172407,
 411830784,
 413493625,
 415160936,
 416832723,
 418508992,
 420189749,
 421875000,
 423564751,
 425259008,
 426957777,
 428661064,
 430368875,
 432081216,
 433798093,
 435519512,
 437245479,
 438976000,
 440711081,
 442450728,
 444194947,
 445943744,
 447697125,
 449455096,
 451217663,
 452984832,
 454756609,
 456533000,
 458314011,
 460099648,
 461889917,
 463684824,
 465484375,
 467288576,
 469097433,
 470910952,
 472729139,
 474552000,
 476379541,
 478211768,
 480048687,
 481890304,
 483736625,
 485587656,
 487443403,
 489303872,
 491169069,
 493039000,
 494913671,
 496793088,
 498677257,
 500566184,
 502459875,
 504358336,
 506261573,
 508169592,
 510082399,
 512000000,
 513922401,
 515849608,
 517781627,
 519718464,
 521660125,
 523606616,
 525557943,
 527514112,
 529475129,
 531441000,
 533411731,
 535387328,
 537367797,
 539353144,
 541343375,
 543338496,
 545338513,
 547343432,
 549353259,
 551368000,
 553387661,
 555412248,
 557441767,
 559476224,
 561515625,
 563559976,
 565609283,
 567663552,
 569722789,
 571787000,
 573856191,
 575930368,
 578009537,
 580093704,
 582182875,
 584277056,
 586376253,
 588480472,
 590589719,
 592704000,
 594823321,
 596947688,
 599077107,
 601211584,
 603351125,
 605495736,
 607645423,
 609800192,
 611960049,
 614125000,
 616295051,
 618470208,
 620650477,
 622835864,
 625026375,
 627222016,
 629422793,
 631628712,
 633839779,
 636056000,
 638277381,
 640503928,
 642735647,
 644972544,
 647214625,
 649461896,
 651714363,
 653972032,
 656234909,
 658503000,
 660776311,
 663054848,
 665338617,
 667627624,
 669921875,
 672221376,
 674526133,
 676836152,
 679151439,
 681472000,
 683797841,
 686128968,
 688465387,
 690807104,
 693154125,
 695506456,
 697864103,
 700227072,
 702595369,
 704969000,
 707347971,
 709732288,
 712121957,
 714516984,
 716917375,
 719323136,
 721734273,
 724150792,
 726572699,
 729000000,
 731432701,
 733870808,
 736314327,
 738763264,
 741217625,
 743677416,
 746142643,
 748613312,
 751089429,
 753571000,
 756058031,
 758550528,
 761048497,
 763551944,
 766060875,
 768575296,
 771095213,
 773620632,
 776151559,
 778688000,
 781229961,
 783777448,
 786330467,
 788889024,
 791453125,
 794022776,
 796597983,
 799178752,
 801765089,
 804357000,
 806954491,
 809557568,
 812166237,
 814780504,
 817400375,
 820025856,
 822656953,
 825293672,
 827936019,
 830584000,
 833237621,
 835896888,
 838561807,
 841232384,
 843908625,
 846590536,
 849278123,
 851971392,
 854670349,
 857375000,
 860085351,
 862801408,
 865523177,
 868250664,
 870983875,
 873722816,
 876467493,
 879217912,
 881974079,
 884736000,
 887503681,
 890277128,
 893056347,
 895841344,
 898632125,
 901428696,
 904231063,
 907039232,
 909853209,
 912673000,
 915498611,
 918330048,
 921167317,
 924010424,
 926859375,
 929714176,
 932574833,
 935441352,
 938313739,
 941192000,
 944076141,
 946966168,
 949862087,
 952763904,
 955671625,
 958585256,
 961504803,
 964430272,
 967361669,
 970299000,
 973242271,
 976191488,
 979146657,
 982107784,
 985074875,
 988047936,
 991026973,
 994011992,
 997002999,
 ...]

In [ ]:
import time

def cal_time(func):
    def wrapper(numbers):
        start = time.time()
        res = func(numbers)
        finish = time.time()
        print(func.__name__ + " worked in " + str(finish-start) + " sec.")
        return res
    return wrapper
@cal_time
def pow2(numbers):
    res = list()
    for i in numbers:
        res.append(i**2)
    return res
@cal_time
def pow3(numbers):
    res = list()
    for i in numbers:
        res.append(i**3)
    return res
pow2(range(100000))
pow3(range(100000))

pow2 worked in 0.04189753532409668 sec.
pow3 worked in 0.04689931869506836 sec.

[0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000,
 1030301,
 1061208,
 1092727,
 1124864,
 1157625,
 1191016,
 1225043,
 1259712,
 1295029,
 1331000,
 1367631,
 1404928,
 1442897,
 1481544,
 1520875,
 1560896,
 1601613,
 1643032,
 1685159,
 1728000,
 1771561,
 1815848,
 1860867,
 1906624,
 1953125,
 2000376,
 2048383,
 2097152,
 2146689,
 2197000,
 2248091,
 2299968,
 2352637,
 2406104,
 2460375,
 2515456,
 2571353,
 2628072,
 2685619,
 2744000,
 2803221,
 2863288,
 2924207,
 2985984,
 3048625,
 3112136,
 3176523,
 3241792,
 3307949,
 3375000,
 3442951,
 3511808,
 3581577,
 3652264,
 3723875,
 3796416,
 3869893,
 3944312,
 4019679,
 4096000,
 4173281,
 4251528,
 4330747,
 4410944,
 4492125,
 4574296,
 4657463,
 4741632,
 4826809,
 4913000,
 5000211,
 5088448,
 5177717,
 5268024,
 5359375,
 5451776,
 5545233,
 5639752,
 5735339,
 5832000,
 5929741,
 6028568,
 6128487,
 6229504,
 6331625,
 6434856,
 6539203,
 6644672,
 6751269,
 6859000,
 6967871,
 7077888,
 7189057,
 7301384,
 7414875,
 7529536,
 7645373,
 7762392,
 7880599,
 8000000,
 8120601,
 8242408,
 8365427,
 8489664,
 8615125,
 8741816,
 8869743,
 8998912,
 9129329,
 9261000,
 9393931,
 9528128,
 9663597,
 9800344,
 9938375,
 10077696,
 10218313,
 10360232,
 10503459,
 10648000,
 10793861,
 10941048,
 11089567,
 11239424,
 11390625,
 11543176,
 11697083,
 11852352,
 12008989,
 12167000,
 12326391,
 12487168,
 12649337,
 12812904,
 12977875,
 13144256,
 13312053,
 13481272,
 13651919,
 13824000,
 13997521,
 14172488,
 14348907,
 14526784,
 14706125,
 14886936,
 15069223,
 15252992,
 15438249,
 15625000,
 15813251,
 16003008,
 16194277,
 16387064,
 16581375,
 16777216,
 16974593,
 17173512,
 17373979,
 17576000,
 17779581,
 17984728,
 18191447,
 18399744,
 18609625,
 18821096,
 19034163,
 19248832,
 19465109,
 19683000,
 19902511,
 20123648,
 20346417,
 20570824,
 20796875,
 21024576,
 21253933,
 21484952,
 21717639,
 21952000,
 22188041,
 22425768,
 22665187,
 22906304,
 23149125,
 23393656,
 23639903,
 23887872,
 24137569,
 24389000,
 24642171,
 24897088,
 25153757,
 25412184,
 25672375,
 25934336,
 26198073,
 26463592,
 26730899,
 27000000,
 27270901,
 27543608,
 27818127,
 28094464,
 28372625,
 28652616,
 28934443,
 29218112,
 29503629,
 29791000,
 30080231,
 30371328,
 30664297,
 30959144,
 31255875,
 31554496,
 31855013,
 32157432,
 32461759,
 32768000,
 33076161,
 33386248,
 33698267,
 34012224,
 34328125,
 34645976,
 34965783,
 35287552,
 35611289,
 35937000,
 36264691,
 36594368,
 36926037,
 37259704,
 37595375,
 37933056,
 38272753,
 38614472,
 38958219,
 39304000,
 39651821,
 40001688,
 40353607,
 40707584,
 41063625,
 41421736,
 41781923,
 42144192,
 42508549,
 42875000,
 43243551,
 43614208,
 43986977,
 44361864,
 44738875,
 45118016,
 45499293,
 45882712,
 46268279,
 46656000,
 47045881,
 47437928,
 47832147,
 48228544,
 48627125,
 49027896,
 49430863,
 49836032,
 50243409,
 50653000,
 51064811,
 51478848,
 51895117,
 52313624,
 52734375,
 53157376,
 53582633,
 54010152,
 54439939,
 54872000,
 55306341,
 55742968,
 56181887,
 56623104,
 57066625,
 57512456,
 57960603,
 58411072,
 58863869,
 59319000,
 59776471,
 60236288,
 60698457,
 61162984,
 61629875,
 62099136,
 62570773,
 63044792,
 63521199,
 64000000,
 64481201,
 64964808,
 65450827,
 65939264,
 66430125,
 66923416,
 67419143,
 67917312,
 68417929,
 68921000,
 69426531,
 69934528,
 70444997,
 70957944,
 71473375,
 71991296,
 72511713,
 73034632,
 73560059,
 74088000,
 74618461,
 75151448,
 75686967,
 76225024,
 76765625,
 77308776,
 77854483,
 78402752,
 78953589,
 79507000,
 80062991,
 80621568,
 81182737,
 81746504,
 82312875,
 82881856,
 83453453,
 84027672,
 84604519,
 85184000,
 85766121,
 86350888,
 86938307,
 87528384,
 88121125,
 88716536,
 89314623,
 89915392,
 90518849,
 91125000,
 91733851,
 92345408,
 92959677,
 93576664,
 94196375,
 94818816,
 95443993,
 96071912,
 96702579,
 97336000,
 97972181,
 98611128,
 99252847,
 99897344,
 100544625,
 101194696,
 101847563,
 102503232,
 103161709,
 103823000,
 104487111,
 105154048,
 105823817,
 106496424,
 107171875,
 107850176,
 108531333,
 109215352,
 109902239,
 110592000,
 111284641,
 111980168,
 112678587,
 113379904,
 114084125,
 114791256,
 115501303,
 116214272,
 116930169,
 117649000,
 118370771,
 119095488,
 119823157,
 120553784,
 121287375,
 122023936,
 122763473,
 123505992,
 124251499,
 125000000,
 125751501,
 126506008,
 127263527,
 128024064,
 128787625,
 129554216,
 130323843,
 131096512,
 131872229,
 132651000,
 133432831,
 134217728,
 135005697,
 135796744,
 136590875,
 137388096,
 138188413,
 138991832,
 139798359,
 140608000,
 141420761,
 142236648,
 143055667,
 143877824,
 144703125,
 145531576,
 146363183,
 147197952,
 148035889,
 148877000,
 149721291,
 150568768,
 151419437,
 152273304,
 153130375,
 153990656,
 154854153,
 155720872,
 156590819,
 157464000,
 158340421,
 159220088,
 160103007,
 160989184,
 161878625,
 162771336,
 163667323,
 164566592,
 165469149,
 166375000,
 167284151,
 168196608,
 169112377,
 170031464,
 170953875,
 171879616,
 172808693,
 173741112,
 174676879,
 175616000,
 176558481,
 177504328,
 178453547,
 179406144,
 180362125,
 181321496,
 182284263,
 183250432,
 184220009,
 185193000,
 186169411,
 187149248,
 188132517,
 189119224,
 190109375,
 191102976,
 192100033,
 193100552,
 194104539,
 195112000,
 196122941,
 197137368,
 198155287,
 199176704,
 200201625,
 201230056,
 202262003,
 203297472,
 204336469,
 205379000,
 206425071,
 207474688,
 208527857,
 209584584,
 210644875,
 211708736,
 212776173,
 213847192,
 214921799,
 216000000,
 217081801,
 218167208,
 219256227,
 220348864,
 221445125,
 222545016,
 223648543,
 224755712,
 225866529,
 226981000,
 228099131,
 229220928,
 230346397,
 231475544,
 232608375,
 233744896,
 234885113,
 236029032,
 237176659,
 238328000,
 239483061,
 240641848,
 241804367,
 242970624,
 244140625,
 245314376,
 246491883,
 247673152,
 248858189,
 250047000,
 251239591,
 252435968,
 253636137,
 254840104,
 256047875,
 257259456,
 258474853,
 259694072,
 260917119,
 262144000,
 263374721,
 264609288,
 265847707,
 267089984,
 268336125,
 269586136,
 270840023,
 272097792,
 273359449,
 274625000,
 275894451,
 277167808,
 278445077,
 279726264,
 281011375,
 282300416,
 283593393,
 284890312,
 286191179,
 287496000,
 288804781,
 290117528,
 291434247,
 292754944,
 294079625,
 295408296,
 296740963,
 298077632,
 299418309,
 300763000,
 302111711,
 303464448,
 304821217,
 306182024,
 307546875,
 308915776,
 310288733,
 311665752,
 313046839,
 314432000,
 315821241,
 317214568,
 318611987,
 320013504,
 321419125,
 322828856,
 324242703,
 325660672,
 327082769,
 328509000,
 329939371,
 331373888,
 332812557,
 334255384,
 335702375,
 337153536,
 338608873,
 340068392,
 341532099,
 343000000,
 344472101,
 345948408,
 347428927,
 348913664,
 350402625,
 351895816,
 353393243,
 354894912,
 356400829,
 357911000,
 359425431,
 360944128,
 362467097,
 363994344,
 365525875,
 367061696,
 368601813,
 370146232,
 371694959,
 373248000,
 374805361,
 376367048,
 377933067,
 379503424,
 381078125,
 382657176,
 384240583,
 385828352,
 387420489,
 389017000,
 390617891,
 392223168,
 393832837,
 395446904,
 397065375,
 398688256,
 400315553,
 401947272,
 403583419,
 405224000,
 406869021,
 408518488,
 410172407,
 411830784,
 413493625,
 415160936,
 416832723,
 418508992,
 420189749,
 421875000,
 423564751,
 425259008,
 426957777,
 428661064,
 430368875,
 432081216,
 433798093,
 435519512,
 437245479,
 438976000,
 440711081,
 442450728,
 444194947,
 445943744,
 447697125,
 449455096,
 451217663,
 452984832,
 454756609,
 456533000,
 458314011,
 460099648,
 461889917,
 463684824,
 465484375,
 467288576,
 469097433,
 470910952,
 472729139,
 474552000,
 476379541,
 478211768,
 480048687,
 481890304,
 483736625,
 485587656,
 487443403,
 489303872,
 491169069,
 493039000,
 494913671,
 496793088,
 498677257,
 500566184,
 502459875,
 504358336,
 506261573,
 508169592,
 510082399,
 512000000,
 513922401,
 515849608,
 517781627,
 519718464,
 521660125,
 523606616,
 525557943,
 527514112,
 529475129,
 531441000,
 533411731,
 535387328,
 537367797,
 539353144,
 541343375,
 543338496,
 545338513,
 547343432,
 549353259,
 551368000,
 553387661,
 555412248,
 557441767,
 559476224,
 561515625,
 563559976,
 565609283,
 567663552,
 569722789,
 571787000,
 573856191,
 575930368,
 578009537,
 580093704,
 582182875,
 584277056,
 586376253,
 588480472,
 590589719,
 592704000,
 594823321,
 596947688,
 599077107,
 601211584,
 603351125,
 605495736,
 607645423,
 609800192,
 611960049,
 614125000,
 616295051,
 618470208,
 620650477,
 622835864,
 625026375,
 627222016,
 629422793,
 631628712,
 633839779,
 636056000,
 638277381,
 640503928,
 642735647,
 644972544,
 647214625,
 649461896,
 651714363,
 653972032,
 656234909,
 658503000,
 660776311,
 663054848,
 665338617,
 667627624,
 669921875,
 672221376,
 674526133,
 676836152,
 679151439,
 681472000,
 683797841,
 686128968,
 688465387,
 690807104,
 693154125,
 695506456,
 697864103,
 700227072,
 702595369,
 704969000,
 707347971,
 709732288,
 712121957,
 714516984,
 716917375,
 719323136,
 721734273,
 724150792,
 726572699,
 729000000,
 731432701,
 733870808,
 736314327,
 738763264,
 741217625,
 743677416,
 746142643,
 748613312,
 751089429,
 753571000,
 756058031,
 758550528,
 761048497,
 763551944,
 766060875,
 768575296,
 771095213,
 773620632,
 776151559,
 778688000,
 781229961,
 783777448,
 786330467,
 788889024,
 791453125,
 794022776,
 796597983,
 799178752,
 801765089,
 804357000,
 806954491,
 809557568,
 812166237,
 814780504,
 817400375,
 820025856,
 822656953,
 825293672,
 827936019,
 830584000,
 833237621,
 835896888,
 838561807,
 841232384,
 843908625,
 846590536,
 849278123,
 851971392,
 854670349,
 857375000,
 860085351,
 862801408,
 865523177,
 868250664,
 870983875,
 873722816,
 876467493,
 879217912,
 881974079,
 884736000,
 887503681,
 890277128,
 893056347,
 895841344,
 898632125,
 901428696,
 904231063,
 907039232,
 909853209,
 912673000,
 915498611,
 918330048,
 921167317,
 924010424,
 926859375,
 929714176,
 932574833,
 935441352,
 938313739,
 941192000,
 944076141,
 946966168,
 949862087,
 952763904,
 955671625,
 958585256,
 961504803,
 964430272,
 967361669,
 970299000,
 973242271,
 976191488,
 979146657,
 982107784,
 985074875,
 988047936,
 991026973,
 994011992,
 997002999,
 ...]

## Datetime

In [ ]:
from datetime import datetime

In [ ]:
print(datetime.now())

2021-11-09 17:12:32.813758

In [ ]:
print(datetime.now().month, datetime.now().year)

11 2021

In [ ]:
print(datetime.ctime(datetime.now()))

Tue Nov  9 17:14:28 2021

**strftime() fonction**
    
    For year : %Y

    For month : %B

    Day name: %A

    Hour : %X

    Exact day : %D

In [ ]:
print(datetime.strftime(datetime.now(), "%Y"))

2021

In [ ]:
print(datetime.strftime(datetime.now(), "%B"))

November

In [ ]:
print(datetime.strftime(datetime.now(), "%A"))

Tuesday

In [ ]:
print(datetime.strftime(datetime.now(), "%X"))

17:18:08

In [ ]:
print(datetime.strftime(datetime.now(), "%D"))

11/09/21

In [ ]:
import locale
locale.setlocale(locale.LC_ALL,"")
print(datetime.strftime(datetime.now(),"%A"))

Salı

* Changing language of the time

**timestamp():** It changes the time to seconds

**fromtimestamp():** Reverse of timestamp

In [ ]:
now = datetime.now()
sec = datetime.timestamp(now)

In [ ]:
date = datetime.fromtimestamp(sec)
print(sec)
print(date)

1636468321.427842
2021-11-09 17:32:01.427842

In [ ]:
date = datetime.fromtimestamp(0)

In [ ]:
print(date)

1970-01-01 03:00:00

In [ ]:
print(now-date)

18940 days, 14:32:01.427842

# Os Module

In [ ]:
import os

In [ ]:
print(os.getcwd())

C:\Users\M.alı

In [ ]:
os.chdir("C:/Users/M.alı/Desktop")

In [ ]:
print(os.getcwd())

C:\Users\M.alı\Desktop

In [ ]:
print(os.listdir())

[',', 'desktop.ini']

In [ ]:
print(os.getcwd())

C:\Users\M.alı\Desktop

In [ ]:
os.mkdir("Hi")

* It creates a folder in your place

In [ ]:
os.makedirs("Hi1/Hi2") # it creates two folders and hi2 is in hi1

In [ ]:
os.rmdir("Hi1/Hi2") # it deletes folder

**os.removedirs():**It deletes all folder

**os.rename()**

**os.stat("xxxx.txt".st_mtime):**It gives the time that last time we changed the file in seconds

**os.walk():** (file_address,file_name,document_names)

## Sys module

**sys.exit():**Ends program

## stderr ve stdout
Bilgisayarlar uygulamalarımız ve işlemlerimiz çalıştığı zaman çıktı vermek ve girdi almak için şu dosyaları kullanır.

**stdin :** Bu standard dosya, işlemimizin (process ) kullanıcıdan input almasını sağlar.

**stdout :** Bu standard dosya, işlemimizin (process ) çıktı vermesini sağlar.

**stderr :** Bu standard dosya, işlemimizin hata mesajlarını çıktı olarak vermek için kullanılır.

Biz print() fonksiyonumuzu kullandığımızda aslında standard olarak stdout kullanılmaktadır. Ancak biz istersek *stderr'e de bir şeyler yazabiliriz.